---
name: Windows build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - run: |
            go build -buildvcs=false
      - uses: actions/upload-artifact@v4
        with:
            name: windows-binary
            path: gilt.exe
            if-no-files-found: error